# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/
.yarn-offline-mirror/@babel-runtime-7.6.3.tgz
.yarn-offline-mirror/@carbon-icon-helpers-10.4.0.tgz
.yarn-offline-mirror/@carbon-icons-react-10.6.0.tgz
.yarn-offline-mirror/@carbon-icons-react-10.6.1.tgz
.yarn-offline-mirror/carbon-components-10.7.1.tgz
.yarn-offline-mirror/carbon-components-react-7.7.1.tgz
.yarn-offline-mirror/carbon-icons-7.0.7.tgz
.yarn-offline-mirror/classnames-2.2.6.tgz
.yarn-offline-mirror/downshift-1.31.16.tgz
.yarn-offline-mirror/flatpickr-4.6.1.tgz
.yarn-offline-mirror/focus-trap-4.0.2.tgz
.yarn-offline-mirror/focus-trap-react-6.0.0.tgz
.yarn-offline-mirror/gud-1.0.0.tgz
.yarn-offline-mirror/history-4.10.1.tgz
.yarn-offline-mirror/hoist-non-react-statics-3.3.0.tgz
.yarn-offline-mirror/isarray-0.0.1.tgz
.yarn-offline-mirror/lodash.debounce-4.0.8.tgz
.yarn-offline-mirror/lodash.omit-4.5.0.tgz
.yarn-offline-mirror/mini-create-react-context-0.3.2.tgz
.yarn-offline-mirror/path-to-regexp-1.7.0.tgz
.yarn-offline-mirror/react-is-16.11.0.tgz
.yarn-offline-mirror/react-router-5.1.2.tgz
.yarn-offline-mirror/react-router-dom-5.1.2.tgz
.yarn-offline-mirror/regenerator-runtime-0.13.3.tgz
.yarn-offline-mirror/resolve-pathname-3.0.0.tgz
.yarn-offline-mirror/tabbable-3.1.2.tgz
.yarn-offline-mirror/tiny-invariant-1.0.6.tgz
.yarn-offline-mirror/tiny-warning-1.0.3.tgz
.yarn-offline-mirror/value-equal-1.0.1.tgz
.yarn-offline-mirror/warning-3.0.0.tgz
.yarn-offline-mirror/window-or-global-1.0.1.tgz
