# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
REACT_APP_GITHUB_PERSONAL_ACCESS_TOKEN=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
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
