@ibmcommon:registry=https://na.artifactory.swg-devops.com:443/artifactory/api/npm/sec-common-npm-local/
//na.artifactory.swg-devops.com:443/artifactory/api/npm/sec-common-npm-local/:_password=QUtDcDVkSzR3ckJaZHdzOUJIeTlYeU52VmVodWV3NzhpQmVNc1VNZzNxMlRnam5waGRLV1JtVGk2ZlpnUWpqNDVManpMVUhHTQ==
//na.artifactory.swg-devops.com:443/artifactory/api/npm/sec-common-npm-local/:username=snidersd@us.ibm.com
//na.artifactory.swg-devops.com:443/artifactory/api/npm/sec-common-npm-local/:email=snidersd@us.ibm.com
//na.artifactory.swg-devops.com:443/artifactory/api/npm/sec-common-npm-local/:always-auth=true 
