.repo-page .bx--row {
  padding-top: $spacing-07;
  padding-bottom: $spacing-07;
}

.repo-page .bx--search {
  margin-bottom: $spacing-05;
}

// Data table expanded row
tr.bx--parent-row.bx--expandable-row + tr[data-child-row] td {
  padding-left: rem(60px);
  padding-top: $spacing-05;
}

tr.bx--parent-row.bx--expandable-row
  + tr[data-child-row]
  td
  .bx--child-row-inner-container {
  max-width: rem(515px);
}
