.info-section__heading {
  @include carbon--type-style('heading-01');
}

.info-card {
  margin-top: $spacing-09;
  display: flex;
  flex-direction: column;
}

svg {
  margin-top: $spacing-09;
}

.info-card__heading {
  @include carbon--type-style('productive-heading-03');
}

.info-card__body {
  margin-top: $spacing-06;
  flex-grow: 1;
  @include type-style('body-long-01');

  @include carbon--breakpoint-between(321px, md) {
    max-width: 75%;
  }
}
