version: 2
jobs:
  test:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Install yarn
          command: |
            curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.15.2
            export PATH=$HOME/.yarn/bin:$PATH
      - run: yarn install --offline --frozen-lockfile
      - run:
          name: Run ci checks
          command: yarn ci-check

workflows:
  version: 2
  main:
    jobs:
      - test
