@import './mixins';
@import './overrides';

.landing-page {
  &__illo {
    max-width: 100%;
  }

  &__banner {
    padding-top: $spacing-05;
    padding-bottom: $spacing-07 * 4;
    @include landing-page-background;
  }

  &__heading {
    @include carbon--type-style('productive-heading-05');
  }

  &__tab-content {
    padding-top: $layout-05;
    padding-bottom: $layout-05;
  }

  &__subheading {
    @include carbon--type-style('productive-heading-03');
    @include carbon--font-weight('semibold');
  }

  &__p {
    @include carbon--type-style('productive-heading-03');
    margin-top: $spacing-06;
    margin-bottom: $spacing-08;
    @include carbon--breakpoint-between((320px + 1), md) {
      max-width: 75%;
    }
  }

  &__r2 {
    margin-top: rem(-40px);
  }

  &__r3 {
    padding-top: $spacing-09;
    padding-bottom: $spacing-09;
    @include landing-page-background;
  }

  &__label {
    @include carbon--type-style('heading-01');
  }
}
