@import './overrides.scss';
@import './mixins.scss';

@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import 'carbon-components/scss/globals/scss/typography.scss';
@import 'carbon-components/scss/globals/scss/vars.scss';

.landing-page__illo {
  max-width: 100%;
}

.landing-page__banner {
  padding-top: $spacing-05; //16px
  padding-bottom: $spacing-07; //32px*7
  @include landing-page-background;
}

.landing-page__heading {
  @include carbon--type-style('productive-heading-05');
}

.landing-page__r2 {
  margin-top: rem(-40px);
}

.landing-page__tab-content {
  padding-top: $layout-05; //64px
  padding-bottom: $layout-05; //64px
}
.landing-page__subheading {
  @include carbon--type-style('productive-heading-03');
  @include carbon--font-weight('semibold');
}

.landing-page__p {
  padding-top: $spacing-06; //24px
  padding-bottom: $spacing-08; //40px
}

.landing-page__r3 {
  padding-top: $spacing-08; //40px
  padding-bottom: $spacing-08; //40px
  @include landing-page-background;
}

.landing-page__label {
  @include carbon--type-style('heading-01');
}
