.principles-section > h2 {
  padding-bottom: 2rem;
}

.section-card {
  height: 18rem;
  border-left: $spacing-3xs solid $ui-03;
  display: flex;
  flex-direction: column;
  position: relative;
  svg {
    position: absolute;
    bottom: 0;
  }
}

.section-card__heading {
  margin-bottom: $spacing-05;
}

.section-card__body {
  @include type-style('body-short-01');
}
