@import './components/TutorialHeader/tutorial-header.scss';
@import './content/LandingPage/landing-page.scss';
@import './content/RepoPage/repo-page.scss';
@import 'node_modules/carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
@import 'node_modules/carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import 'node_modules/carbon-components/scss/globals/scss/typography.scss';
@import 'node_modules/carbon-components/scss/globals/scss/vars.scss';
