/* Remove overrides once Carbon bugs are fixed upstream. */

/*
The React <Content /> component uses the `main` element which IE11 doesn't recognize

@link https://github.com/carbon-design-system/carbon/issues/2789
*/
// Feature flags
$css--font-face: true;
$css--plex: true;
// Global styles
@import 'carbon-components/scss/globals/scss/css--font-face';
@import 'carbon-components/scss/globals/grid/grid';
// Carbon components
@import 'carbon-components/scss/components/breadcrumb/breadcrumb';
@import 'carbon-components/scss/components/button/button';
@import 'carbon-components/scss/components/data-table/data-table';
@import 'carbon-components/scss/components/link/link';
@import 'carbon-components/scss/components/pagination/pagination';
@import 'carbon-components/scss/components/tabs/tabs';
@import 'carbon-components/scss/components/ui-shell/ui-shell';

main {
  display: block;
}

$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);
