@use '@carbon/react' as styles;
@use '@carbon/react/scss/components/button';
@use '@carbon/react/scss/components/tag';
@use '@carbon/react/scss/breakpoint' as *;


/// Remove overrides once Carbon bugs are fixed upstream.
/// Need grid option to not add page gutters at large viewports, to also use when nesting grids
/// @link https://github.com/carbon-design-system/carbon/issues/2792
@media (min-width: 42rem) {
  .bx--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/// Padding was introduced in 10.3.0, needs an option to let grid set the viewport gutter
/// @link https://github.com/carbon-design-system/carbon/issues/3010
.bx--content {
  margin-top: 3rem;
  padding: 0;
  background: var(--bx-background);
}

:root {
  @include styles.theme(styles.$white, button.$white, tag.$white);
}

.bx--content .bx--css-grid {
  max-width: 100%;
  @include breakpoint(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
