@import 'carbon-components/scss/globals/scss/styles.scss';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@link https://github.com/carbon-design-system/carbon/issues/2789
*/
main {
  display: block;
}

$feature-flags: (
  ui-shell: true,
);
