/* Remove overrides once Carbon bugs are fixed upstream. */

/*
The React <Content /> component uses the `main` element which IE11 doesn't recognize

@link https://github.com/carbon-design-system/carbon/issues/2789
*/
$feature-flags: (
  ui-shell: true,
);
@import 'carbon-components/scss/globals/scss/styles.scss';
main {
  display: block;
}
